<main>
	{{#if country}}
		<form action="/country/update/{{country.id}}" method="post">
			<label>
				Country:
				<input type="text" name="name" value="{{country.name}}" />
			</label>
			<label>
				Capital:
				<input type="text" name="capital" value="{{country.capital}}" />
			</label>
			<label>
				Continent:
				<input type="text" name="continent" value="{{country.continent}}" />
			</label>
			<label>
				Inhabitants:
				<input type="text" name="inhabitants" value="{{country.inhabitants}}" />
			</label>
			<label>
				Code:
				<input type="text" name="code" value="{{country.code}}" />
			</label>
			<button type="submit">Update</button>
		</form>
	{{else}}
		<form action="/country/create" method="post">
			<label>
				Country:
				<input type="text" name="name" />
			</label>
			<label>
				Capital:
				<input type="text" name="capital" />
			</label>
			<label>
				Continent:
				<input type="text" name="continent" />
			</label>
			<label>
				Inhabitants:
				<input type="text" name="inhabitants" />
			</label>
			<label>
				Code:
				<input type="text" name="code" />
			</label>
			<button type="submit">Create</button>
		</form>
	{{/if}}
</main>