<main>
	<h2>Countrys</h2>
	<a href="/country/create">create new</a>

	<table>
		<thead>
			<tr>
				<th>Country</th>
				<th>Capital</th>
				<th>Continent</th>
				<th>Inhabitants</th>
				<th>Code</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#if countrys}}
				{{#each countrys}}
					<tr>
						<td>{{name}}</td>
						<td>{{capital}}</td>
						<td>{{continent}}</td>
						<td>{{inhabitants}}</td>
						<td>{{code}}</td>
						<td><a href="/country/update/{{id}}">update</a></td>
						<td><a href="/country/delete/{{id}}">delete</a></td>
					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="7">No countrys found</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</main>